<head>

</head>

<div class="dailylook">

  <h1>
    데일리룩 게시판
  </h1>

  <button id="board_write" onclick="location.href='/write'">글쓰기</button>

  <button>정렬</button>

  <button>검색</button>

  <div class="w3-container">

    <h2>게시판</h2>

    <div class="look_board">
      <div class="post_container_1 p_container">

      </div>
      <div class="post_container_2 p_container">

      </div>
      <div class="post_container_3 p_container">

      </div>
    </div>

  </div>

  <div class="page_box">
  <ul class="pagination">
    <li id="pre_item"><a href="#">&laquo;</a></li>
    <li id="pre_page"><a href="#">
        <</a> </li> <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">8</a></li>
    <li><a href="#">9</a></li>
    <li><a href="#">10</a></li>
    <li id="next_page"><a href="#">></a></li>
    <li id="next_item"><a href="#">&raquo;</a></li>
  </ul>

</div>

</div>

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../static/css/dailylook.css">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../static/js/dailylook.js"></script>
