<div>

  <h1>
    데일리룩 게시판
  </h1>

  <button id="board_write" onclick="location.href='/write'">글쓰기</button>

  <button>정렬</button>

  <button>검색</button>

  <div class="w3-container">

    <h2>게시판</h2>

    <div class="look_board">

    </div>

    <div class="w3-center">
      <ul class="w3-pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a class="w3-green" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>

  </div>


</div>

<link rel="stylesheet" type="text/css" href="../static/css/dailylook.css">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../static/js/dailylook.js"></script>
