<header>


</header>

<body>
    <div id="signup_form">
        <div>회원가입</div>
        <div>
            * ID :
            <input type="text" placeholder="ID 입력" id="signup_id"> 6~20자 한/영/숫자 혼합
        </div>
        <div>
            * PW :
            <input type="text" placeholder="PW 입력" id="signup_pw"> 100자 미만
        </div>
        <div>
            * PW check :
            <input type="text" placeholder="비밀번호 확인" id="signup_pw2">
        </div>
        <div>
            * E-mail :
            <input type="text" placeholder="이메일 입력" id="signup_email"> 특수문자 X
        </div>
        <div>
            * Name :
            <input type="text" placeholder="이름 입력" id="signup_name"> 특수문자 X
        </div>
        <div>
            * Nickname :
            <input type="text" placeholder="닉네임 입력" id="signup_nickname">
        </div>
        <div>
            Gender :
            <input type="radio" name="gender" value="1" checked>남
            <input type="radio" name="gender" value="2">여
        </div>
        <div>
            Birth :
            <input type="text" placeholder="생년월일 입력" id="signup_birth" maxlength="6"> 6자리 ex)970101
        </div>
        <div>
            Photo :
            <input type="text" placeholder="사진 입력" id="signup_photo">
        </div>
        <button id="signup_button">회원가입</button>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../static/js/signup.js"></script>
