<div>

    <div>회원가입</div>

    <div>
        ID :
        <input type="text" placeholder="ID 입력">
    </div>
    <div>
        PW :
        <input type="text" placeholder="PW 입력">
    </div>
    <div>
        PW check :
        <input type="text" placeholder="비밀번호 확인">
    </div>
    <div>
        Name :
        <input type="text" placeholder="이름 입력">
    </div>
    <div>
        Birth :
        <input type="text" placeholder="생년월일 입력">
    </div>
    <div>
        Gender :
        <input type="text" placeholder="성별 입력">
    </div>
    <div>
        Phone-number :
        <input type="text" placeholder="핸드폰 번호 입력">
    </div>
    <div>
        E-mail :
        <input type="text" placeholder="이메일 입력">
    </div>
    <button class="signup_button" onclick="location.href='/'">회원가입</button>
</div>

<script>
    document.querySelector('.signup_button').addEventListener('click',function(){
        alert("회원가입 완료, 환영합니다!");
    })
</script>